.card__go {
    color: #BFBFBF;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: none;
}