.main-form {
    margin-left: 50px;
    height: 100%;
    width: 320px;
    position: fixed;
	top: calc(50% - 300px);
    left: 0;
    background-color: none;
    flex-direction: column;
    justify-content: center;
    font-family: 'SFUIText-Regular', sans-serif;
}