.report__goBack {
    background: none;
    color: #26303F;
    border: none;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    margin-bottom: 20px;
}