.report__download {
    width: 270px;
    height: 47px;
    background-color: #217AFF;
    background-image: url(../../../images/download.svg);
    background-position: 38.5px 13.5px;
    background-repeat: no-repeat;
    padding: 13.5px 38.5px;
    color: #fff;
    font-size: 14px;
    text-align: right;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
    margin-bottom: 50px;
}